<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
          <link rel="stylesheet" href="/stylesheets/index.css" />
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
      <script src="socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1 id="some"></h1>
    <canvas id="drawing"></canvas>
    
       <script src="/javascripts/client.js"></script>
  </body>
</html>
